<div hlmSidebarWrapper [sidebarWidthIcon]="'4.5rem'">
  <hlm-sidebar collapsible="icon">
    <div hlmSidebarContent>
      <div hlmSidebarGroup>
        <div hlmSidebarGroupLabel class="dark:text-slate-200 text-gray-950">Goals Planner</div>
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for (project of _projects; track project) {
              <li hlmSidebarMenuItem>
                <button hlmSidebarMenuButton [routerLink]="project.url">
                  <ng-icon hlm [name]="project.icon" />
                  <span>{{ project.name }}</span>
                </button>
                <div hlmSidebarMenuBadge>{{ project.info }}</div>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div hlmSidebarFooter>
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <button hlmSidebarMenuButton>
            <ng-icon hlm name="lucideLogOut" />
            <span>Logout</span>
          </button>
        </li>
      </ul>
    </div>
  </hlm-sidebar>
  <main hlmSidebarInset>
    <header
      class="flex h-16 items-center gap-4 border-b bg-white dark:bg-gray-900 dark:border-gray-800 px-4"
    >
      <button hlmSidebarTrigger><span class="sr-only">Toggle Sidebar</span></button>
      <ng-content select="[navbar]"></ng-content>
    </header>
    <div class="p-4 dark:bg-gray-900">
      <ng-content></ng-content>
    </div>
  </main>
</div>
